 <% if @carousels.length > 0%>
  <section id="slider"><!--slider-->
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div id="slider-carousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
            <% @carousels.each_with_index do |carousel,index|%>
              <li data-target="#slider-carousel" data-slide-to="<%=index%>" ></li>
            <%end%>
            </ol>
            
            <div class="carousel-inner">
             <% @carousels.each do |carousel|%>
               <div class="item">
                <div class="col-sm-6">
                  <h1><span><%=carousel.name%></span></h1>
                  <h2><%=carousel.display_name%></h2>
                  <p><%=carousel.description%></p>
                  <button type="button" href="<%=carousel.path%>" class="btn btn-default get">Get it now</button>
                </div>
                <div class="col-sm-6">
                  <img src="<%=carousel.avatar.url%>"  class="girl img-responsive" alt="" />
                </div>
              </div>
             <%end%>
            </div>
            
            <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
              <i class="fa fa-angle-left"></i>
            </a>
            <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
              <i class="fa fa-angle-right"></i>
            </a>
          </div>
          
        </div>
      </div>
    </div>
  </section><!--/slider-->
<%end%>

<script type="text/javascript">
$(document).ready(function () {
  $('.carousel-inner .item:first').addClass('active');
    $('.carousel').carousel({
        interval: 3000
    });

    $('.carousel').carousel('cycle');
});
</script>  